@import url("https://fonts.googleapis.com/css2?family=Georgia:ital,wght@0,400;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Helvetica:ital,wght@0,400;0,600;0,700;1,400&display=swap");

$box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
$h5-font-size: 1rem * 1.125;
$link-color: #000;
$primary: #247789;
$secondary: #13424d;
$light: #f1f1f1;
$info: #6c757d;

@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "width": (
      property: width,
      class: w,
      responsive: true,
      values: (
        10: 10%,
        20: 20%,
        25: 25%,
        33: 33%,
        50: 50%,
        66: 66%,
        75: 75%,
        90: 90%,
        100: 100%,
        auto: auto,
      ),
    ),
  )
);

@import "bootstrap/scss/utilities/api";

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Georgia;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

blockquote {
  margin: 0;
  padding: 0 1em;
  color: $info;
  border-left: 0.25em solid #d0d7de;
}

.tooltip {
  opacity: 1 !important;
}

.tooltip-inner {
  max-width: 300px;
  text-align: left;
}

.bs-tooltip-bottom {
  top: 8px !important;
}

.btn.btn-primary[disabled],
.btn.btn-secondary[disabled] {
  background-color: $info;
  border-color: $info;
}

.form-switch > .form-check-input {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.pool-info-background {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
